streamlit
python-dotenv
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters
chromadb
sentence-transformers
huggingface-hub
transformers
torch
torchvision
pypdf
